.container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    position: relative; 
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.main {
    flex-grow: 1; 
    padding: 20px;
    background-color: #e2e2e2;
    overflow-y: auto; 
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}


.main p {
    margin-bottom: 20px; 
}