<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      @if (service.signal()) {
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/matches" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active"
            >List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ul>

      <div class="btn-group">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{this.service.signal()?.userName}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item" routerLink="user/edit">
              Settings
            </button>
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="logout()">
              Logout
            </button>
          </li>
        </ul>
      </div>

      } @if (!service.signal()) {
      <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()">
        <input
          class="form-control me-sm-2"
          type="userName"
          placeholder="User Name"
          name="username"
          [(ngModel)]="model.username"
        />

        <input
          class="form-control me-sm-2"
          type="password"
          placeholder="password"
          name="password"
          [(ngModel)]="model.password"
        />

        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
      }
    </div>
  </div>
</nav>
