<div class="card">
  <img
    src="{{ userData.photosUrl || './assets/user.png' }}"
    class="card-img-top card-img-wrapper"
    alt="..."
  />
  <ul class="list-inline member-icons animate text-center mt-5">
    <!-- user -->
    <li class="list-inline-item">
      <button class="btn btn-primary" routerLink="user/{{ userData.userName }}">
        <i class="bi bi-person-fill"></i>
      </button>
    </li>

    <!-- heart -->
    <li class="list-inline-item">
      <button class="btn btn-primary"><i class="bi bi-heart-fill"></i></button>
    </li>

    <!-- Envelope -->
    <li class="list-inline-item">
      <button class="btn btn-primary">
        <i class="bi bi-chat-square-heart-fill"></i>
      </button>
    </li>
  </ul>

  <!-- card body -->
  <div class="card-body">
    <h5 class="card-title text-center">
      <i class="bi bi-person-fill"></i>
      {{ userData.userName }}
    </h5>
    <p class="card-text text-center">
      <i class="bi bi-geo-alt-fill"></i>
      {{ userData.city }}
    </p>
  </div>
</div>
